<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table">

    <!-- Definición de las columnas -->
    <ng-container matColumnDef="ranking">
      <mat-header-cell *matHeaderCellDef>Ranking</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.ranking }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef>Puntuación</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.score }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName" class="mat-column-fullName">
      <mat-header-cell *matHeaderCellDef>Nombre completo</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.fullName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="appName" class="mat-column-appName">
      <mat-header-cell *matHeaderCellDef>Nombre en la app</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.appName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="rivals">
      <mat-header-cell *matHeaderCellDef>Rivales</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.rivals }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="totalSets">
      <mat-header-cell *matHeaderCellDef>Sets totales</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.totalSets }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="wonSets">
      <mat-header-cell *matHeaderCellDef>Sets ganados</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.wonSets }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lostSets">
      <mat-header-cell *matHeaderCellDef>Sets perdidos</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.lostSets }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="wonGames">
      <mat-header-cell *matHeaderCellDef>Juegos a favor</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.wonGames }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="lostGames">
      <mat-header-cell *matHeaderCellDef>Juegos en contra</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.lostGames }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="gameDifference">
      <mat-header-cell *matHeaderCellDef>Diferencia de juegos</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.gameDifference }}</mat-cell>
    </ng-container>

    <!-- Celdas de la tabla -->
    <mat-header-row
      *matHeaderRowDef="['ranking', 'score', 'fullName', 'appName',  'rivals', 'totalSets', 'wonSets', 'lostSets', 'wonGames', 'lostGames', 'gameDifference']">
    </mat-header-row>
    <mat-row
      *matRowDef="let row; columns: ['ranking', 'score', 'fullName', 'appName',  'rivals', 'totalSets', 'wonSets', 'lostSets', 'wonGames', 'lostGames', 'gameDifference']"
      [ngClass]="{'red-line': row.totalSets < 15}">
    </mat-row>
  </table>
</div>