<form [formGroup]="padelForm" class="form-container">

  <div class="form-group">
    <mat-form-field class="form-field">
      <mat-label>Día del partido</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Hora del partido</mat-label>
      <input matInput type="time" formControlName="time" placeholder="Choose a time">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="form-field">
      <mat-label>Jugador A1</mat-label>
      <mat-select formControlName="playerA1">
        <mat-option *ngFor="let player of players" [value]="player">{{ player.fullName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Jugador A2</mat-label>
      <mat-select formControlName="playerA2">
        <mat-option *ngFor="let player of players" [value]="player">{{ player.fullName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Puntuación equipo A</mat-label>
      <input matInput type="number" formControlName="scoreA" placeholder="Score A" min="0" max="7">
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field class="form-field">
      <mat-label>Jugador B1</mat-label>
      <mat-select formControlName="playerB1">
        <mat-option *ngFor="let player of players" [value]="player">{{ player.fullName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Jugador B2</mat-label>
      <mat-select formControlName="playerB2">
        <mat-option *ngFor="let player of players" [value]="player">{{ player.fullName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Puntuación equipo B</mat-label>
      <input matInput type="number" formControlName="scoreB" placeholder="Score B" min="0" max="7">
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="submitForm()">Enviar</button>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</form>
